<!DOCTYPE html>
<html>
<head>
	<title>Sports Modality</title>
</head>
<body>

	{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
				<li> <strong> {{message}} </strong></li>
			{% endfor %}
		</ul>
		{% endif %}
	{% endwith %}


	<h2>{{category.name}}</h2>
	{% for i in items%}
	 <a href = "{{url_for('ItemsDescription', category_id = i.category_id, item_id = i.id)}}">
	 {{ i.name}}</a>
	 </br></br>
	{% endfor %}

	<a href = "{{url_for('showCategories')}}">Back</a>


</body>
</html>

