	
{% extends "base.html" %}
{% block title %}Sports Modality{% endblock title %}
{% block content %}

<div class="row content-body">
	<div class="col-md-12">
		<nav class="navbar navbar-default navbar-inverse">
			<div class="container-fluid">
				<ul class="nav navbar-nav navbar-right">
					{% if 'username' not in session %}
					<li class="dropdown">
						<a href="{{url_for('showLogin')}}">
							<span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;
				      	 		Log in
				      	</a>
				    </li>
				    {% else %}
				    <li class="dropdown">
				    	<a href="{{url_for('disconnect')}}">
				    		<span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;
				    		Logout
				    	</a>
				    </li>
				    {% endif %}
				</ul>
			</div><!-- /.container-fluid -->
		</nav>
	</div>
</div>	
<div class="row main">
	<!--list of categories -->
	<div class="col-md-3 cats bord">
		<ul class="cat-li text-center">
			<li>
				{% for c in categories %}
				<a href = "{{url_for('categoryItems', category_id=c.id)}}">
					<img src="{{c.picture}}" alt="{{c.name}}">
				    </br>
				    <h5>{{c.name}}</h5>
				    </br>
				</a>
				{% endfor %}
			</li>
		</ul>
	</div>
	<div class="col-md-9 latest">
		<h2 class="text-center">LATEST MODALITIES </h2>
		{% for l in latests %}
		<a class="lat-cat" href = "{{url_for('ItemsDescription', category_id=l.category_id, item_id=l.id)}}">
			<h3>{{l.name}}</h3>
		</a>
		{{l.category.name}}
		<p class="ptime lat-cat">{{l.date.strftime("%-d-%b-%Y at %I:%M %p")}}</p>
		</br>
		{% endfor %}
	</div>
</div>

<footer class="row rodape border-top">
	<div class="col-md-6">
		<address>       
			<strong>Cristiana Costa</strong>
			<br>
			Dublin-Ireland  
			<a class="ademail" href="mailto:#">cristianacmc@gmail.com</a>
		</address>
	</div>
	<div class="col-md-6">
		<p class="copy pull-right">copyright &#9400;</p>
	</div>
</footer>

{% endblock %}
