	
	{% extends "base.html" %}
    {% block title %}new modality{% endblock title %}
	{% block content %}
	<h1>New {{ category.name }} Modality</h1>
	</br>
    

    <form action="{{url_for('newCategoryItem', category_id=category.id)}}" method = 'post'>
    	<div class="form-group">
    		<label for="name">Name:</label>
    		<input type ="text" name="name" class="form-control" id="name" maxlength="50" 
            placeholder="Modality Name">
    	</div>
        </br>

    	<div class="form-group">
    		<label for="description">Description</label>
    		<textarea name="description" class="form-control" id="description" maxlength="250"  rows="3"></textarea>
        </div>
        </br>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" id="submit">Submit</button> 
        </div>
        </br></br>
        <div class="btn btn-default btn-sm">
             <a href = "{{url_for('showCategories')}}">
             <span class="glyphicon glyphicon-arrow-left"> Back</span> 
            </a>
		</div>
	</form>
	{% endblock %}
