	
	{% extends "base.html" %}
    {% block title %}new modality{% endblock title %}
	{% block content %}
	<h1>New {{ category.name }} Modality</h1>
	</br>
    

    <form>
    	<form action="{{url_for('newCategoryItem', category_id=category.id)}}" method = 'post'>
    	<div class="form-group">
    		<label for="name">Name:</label>
    		<input type ="text" name="name" class="form-control" id="name" placeholder="Modality Name">
    	</div>
        </br>

    	<div class="form-group">
    		<label for="description">Description</label>
    		<textarea name="description" class="form-control" id="description" maxlength="250" cols="30" rows="2"></textarea>
        </div>
        </br>

        <div class="form-group">
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
            </br></br>

            <a href = "{{url_for('showCategories')}}" class="btn btn-default btn-sm">
             <span class="glyphicon glyphicon-arrow-left"></span> Cancel</a>
		
	</form>
	{% endblock %}
