	
	{% extends "base.html" %}
    {% block title %}new modality{% endblock title %}
	{% block content %}
	<h1>New {{ category.name }} Modality</h1>
	</br>
    

    <form action="{{url_for('newCategoryItem', category_id=category.id)}}" method = 'post'>
    	<div class="form-group">
    		<label for="name">Name:</label>
    		<input type ="text" name="name" class="form-control" id="name" placeholder="Modality Name">
    	</div>
        </br>

    	<div class="form-group">
    		<label for="description">Description</label>
    		<textarea name="description" class="form-control" id="description" maxlength="250" cols="30" rows="2"></textarea>
        </div>
        </br>

        <div class="form-group">
            <a class="btn btn-primary" type="submit" id="submit" href="{{url_for('categoryItems', category_id=category.id)}}" role="button">Submit</a>
        </div>
        </br></br>
           
        <div class="btn btn-default btn-sm">
             <a href = "{{url_for('showCategories')}}">
             <span class="glyphicon glyphicon-arrow-left"></span> 
            </a>
		</div>
	</form>
	{% endblock %}
